//extend

.btn-colorPropio{
    @extend .btn-estiloPropio;
        &:hover {    
    transition: all .5s ease-in-out;
}
}

//mixins
@mixin alineacion ($display, $jc , $ai){
    display: $display;
    justify-content: $jc;
    align-items: $ai;
}


//maps

$tamaños: (
    "h1": 4em,
    "h2": 3em,
    "h3": 2em,
    "h4": 1em,
    "h5": 0.8em,
    "h6": 0.5em,
    );